<launch>

  <!--<include file="$(find rito_state_machine)/launch/rito_state_machine.launch"> </include>-->
    <node
        pkg = "rito_state_machine_service"
        type = "rito_state_machine_service.py"
        name = "rito_state_machine_service"
        output = "screen">
    </node>
</launch> 
