/*Titulos*/
h1 {
    font-size: 18px;
}

h2{
    font-size: 18px;
    color: white;
}

h3{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
}

section a {
    font-size: 13px;
    margin-left: auto;
    color: var(--green);
}

section a:focus{
    text-decoration: none;
    color: var(--green);
}

h5{
    font-size: 12px;
    margin: 0px;
}

h6{
    font-size: 11px;
    color: white;
}

/*Secciones*/
section{
    margin-top: 20px;
}

/*Etiquetas*/
.label div{
    padding: 0px;
}

.circle {
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    background: white;
    font-size: 20px;
    color: var(--yellow);
}

.label p{
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 13px;
    color: white;
}

/*Boton*/
section .btn{
    width: 100%;
    height: 30px;
    padding: 0px;
    border: 2px solid var(--green);
    border-radius: 10px;
    box-shadow: none !important;
    font-size: 12px;
    font-weight: bold;
}

#popup {
    top: auto;
    bottom: 10px;
    outline: none;
  }

/*Lista de productos*/
ul{
    margin-top: 10px;
}
.product-list div{
    padding: 0px;
}

.product-price{
    margin-bottom: 10px;
    justify-content: space-between;
}

.product-price h3{
    margin: 0px;
    font-weight: 500;
}